<% content_for :blog_body do %>
  <%= render 'layouts/blog/breadcrumb', data: {:current => 'Edit article', :breadcrumb => [{:name => 'Home', :url => root_path}]} %>

  <h1 align="center">Edit Article</h1>

  <%= render "form", article: @article %>
<% end %>